<div *ngIf="restaurant" class="container">
  <p>{{ restaurant.name }}</p>
  <div class="menu">
    <div class="menu-bar">
      <div
        class="menu-tab"
        [ngClass]="activeTab === 'foods' ? 'active' : ''"
        (click)="changeActiveTab('foods')"
      >
        Étlap
      </div>
      <div
        class="menu-tab"
        [ngClass]="activeTab === 'drinks' ? 'active' : ''"
        (click)="changeActiveTab('drinks')"
      >
        Itallap
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Név</th>
          <th>Ár</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let menuItem of menuDataSource;"
        >
          <tr>
            <td>{{ menuItem.name }}</td>
            <td>{{ menuItem.price }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="reservation">
    <div class="reservation-bar">
      <div class="reservation-tab">Asztal foglalás</div>
    </div>
    <app-reservation-create></app-reservation-create>
  </div>
</div>