.container {
    padding: 5px;
}

.add-order {
    float: left;
}

.orders {
    float: right;
}

.form-row {
    display: inline;
}

label {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 5px;
}