<div class="container">
  <div>{{selectedReservation.datetime | dateTimeFormat}}</div>
  <div class="add-order">
    <div class="add-food">
      <form class="orderFoodForm" [formGroup]="orderFoodForm" (ngSubmit)="onSubmitFoodForm()">
        <div class="form-group">
          <label for="foodSelector">Ételek</label>
          <select [(ngModel)]="selectedFood" formControlName="foodSelector" class="form-control" >
            <option *ngFor="let food of menu.foods" [value]="food._id">{{food.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quantity">Mennyiség</label>
          <input type="number" formControlName="quantity" class="form-control"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Rendelés</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="add-drink">
      <form class="orderDrinkForm" [formGroup]="orderDrinkForm" (ngSubmit)="onSubmitDrinkForm()">
        <div class="form-group">
          <label for="drinkSelector">Italok</label>
          <select [(ngModel)]="selectedDrink" formControlName="drinkSelector" class="form-control" >
            <option *ngFor="let drink of menu.drinks" [value]="drink._id">{{drink.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quantity">Mennyiség</label>
          <input type="number" formControlName="quantity" class="form-control"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Rendelés</button>
        </div>
      </form>
    </div>
  </div>
  <div class="orders">
    <table>
      <thead>
        <tr>
          <th>Fogyasztás</th>
          <th>Mennyiség</th>
          <th>Ár</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let orderItem of ordersDataSource;">
          <tr>
            <td>{{ orderItem.name }}</td>
            <td>{{ orderItem.quantity }}</td>
            <td>{{ orderItem.totalPrice }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
