.content {
    width: 30%;
    margin: auto;
}

.login {
    width: 100%;
    padding: 5px;
    background-color: #7c00b5;
    color: #fffb00;
}

.loginForm {
    margin: auto;
    width: 100%;
}

h2 {
    text-align: center;
}

input, label {
    display: block;
    margin: auto;
    width: 60%;
}

button {
    display: block;
    text-align: center;
    margin: auto;
}

.form-group {
    margin-bottom: 10px;
}

.btn-bar {
    width: fit-content;
    margin: auto;
}

.btn {
    display: inline;
    margin: 5px;
}