.container {
    margin-top: 10px;
}

.reservation-list {
    float: left;
    border: 1px solid black;
    width: 40%;
}

.card {
    display: block;
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
    width: 80%;
}

.btn-delete, .btn-order {
    float: right;
}

.reservation-detail {
    float: right;
    border: 1px solid black;
    width: 50%;
}

.top-row, .mid-row {
    display: block;
}